@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/*.mat-form-field-wrapper {*/
  /*width: 100%;*/
/*}*/
.mat-form-field {
  width: 100%!important;
  text-align: center!important;
}
.mat-raised-button.mat-accent {
  background: rgba(255, 255, 0, 0.54);
}

